body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0e0; /* Fundo claro */
    color: #040a23; /* Texto escuro */
    text-align: center;
    padding-top: 60px; /* Espaço para o menu fixo */
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

input, button, textarea, select {
    margin: 8px;
    padding: 10px;
    width: 90%;
    max-width: 300px;
    border: 1px solid #a2b4c6;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que padding não estoure a largura */
}

button {
    background-color: #040a23; /* Azul Marinho */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #a2b4c6;
    color: #040a23;
}

.secao {
    display: none;
    padding: 20px 0;
    border-top: 1px solid #a2b4c6;
}

.ativa {
    display: block;
}

/* Menu de Navegação */
#menuBar {
    background-color: #040a23;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#menuBar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#menuBar a:hover {
    color: #f0f0e0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border: 1px solid #a2b4c6;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
